              /* Accessible form styles begin */
              label, fieldset {
                font-weight: bold;
            }
            fieldset label, input {
                font-weight: normal;
            }
            fieldset {
                margin-bottom: 20px;
              padding: 5px;
            }
            select {
                margin-bottom: 30px;
              font-size:14px;
            }
            .errorMsg, .reqField {
                color:#bb4e00;
            }
            .errorMsg {
                font-weight: normal;
            }
            input {
              font-size:16px;
              padding: 4px;
              color:#333;
            }

            h2 {
              color: rgba(13,115,207,1);
            }
            h1{
              color: rgba(13,115,207,1);
            }

            .flex-group{
              justify-content: space-between;
              display: flex;
              width: 100%;
            }

            .test2{
              width: 45%;            
            }

            .w-40{
              width: 40%;
            }

            .w-90{
              width: 90%;
            }

            .w-full{
              width: 100%;
            }

            /* Accessible form styles end */
            
            /* hides content from sighted users, can be accessed by screen reader */
            .element-invisible {
                position: absolute !important;
                height: 1px; width: 1px; 
                overflow: hidden;
                clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
                clip: rect(1px, 1px, 1px, 1px);
            }

            .submitButton {
              background-color: #f57400;
              color: white;
              font-size: 16px;
              padding: 15px 32px;
              margin: 4px 2px;
              border-radius: 12px;
              cursor: pointer;
              box-shadow: none;
              border: none;
            }

            .resetButton {
              background:none;
              border:none;
              margin:0;
              padding:0;
              cursor: pointer;
            }
            
            /* set up hidden tooltip */
            [role="tooltip"] {
                display: none;
                padding: 0.25em;
                margin: 0;
                color: #666;
                width: 100%;
                z-index: 2;
                font-weight: normal;
                font-style: italic;
            }
            
            /* reveal associated tooltip on focus of preceeding input */
            input:focus + [role="tooltip"] {
                display: block;
            }
          
            /* NAV */
            nav{
              text-align:center;
              background-color: #c1e9d9;
              padding-bottom: 8px;
              padding-top: 8px;
              margin-bottom: 10px;
            }

            ul {
              list-style-type: none;
              margin: 0;
              padding: 0;
              overflow: hidden;
              text-align: center;
              list-style: none;
            }
            
            li {
              display:inline-block;
              *display:inline; /*IE7*/
              *zoom:1; /*IE7*/
            }
            
            li a, .dropbtn {
              display: inline-block;
              color: black;
              text-align: center;
              padding: 4px 16px;
              text-decoration: none;
            }
            
            li a:hover, .dropdown:hover .dropbtn {
              border-top: 1px solid black;  border-bottom: 1px solid black; border-width: 2px;
            }
            
            li.dropdown {
              display: inline-block;
            }
            
            .dropdown-content {
              display: none;
              position: absolute;
              background-color: #f9f9f9;
              min-width: 160px;
              z-index: 1;
            }
            
            .dropdown-content a {
              color: black;
              padding: 12px 16px;
              text-decoration: none;
              display: block;
              text-align: left;
            }
            
            .dropdown-content a:hover {background-color: black; color: white;}
            
            .dropdown:hover .dropdown-content {
              display: block;
            }
            /* Reference: http://tympanus.net/codrops/2012/10/04/custom-drop-down-list-styling/ */
            
            /* GLOBALS */
            *,
            *:after,
            *:before {
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
                padding: 0;
              font-family: sans-serif;
                /*    margin: 0; */
            }
            
            ::-moz-selection {
                background: red; 
            }
            
            #content-wrapper {
              width: 80%;
              margin: 0 auto;
              min-width: 320px;
              max-width: 800px;
              border-style: solid;
              padding: 25px;
              border-color: rgba(13,115,207,1);
              border-width: 6px;
            }

            body {
              margin: 0px;
            }

            
            